* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --redvelvet: #c03c3c;
}



body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  width: 100%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}

/* Tabela tamanho de bolos */
table {
  border: 3px solid burlywood;
  border-radius: 8px;
  border-collapse: collapse;
  margin: auto;
}


.bolo {
  border-radius: 10px;
}

th,
td {
  border: 1px solid burlywood;
  padding: 20px;
}

table,
th td {
  font-size: 25px;
  text-align: center;
  margin-bottom: 25px;
}

/* Define tamanho max dos elementos */
main {
  background-color: white;
  width: 60vw;
  margin: 50px auto;
  border-radius: 50px 50px 0px 0px;
  padding: 15px;
  margin-bottom: 0;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  text-align: center;
  width: 100%;
}

h3 {
  padding: 20px;
  text-align: center;
  font-size: 25px;
}

/* Indicação de tamanhos */
.tamanho {
  font-size: 50px;
  font-style: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--dourado);
  padding: 1.5vw;
  outline: 1px solid var(--dourado);
  border-radius: 15px;
  text-align: center;
}

.tamanho p {
  font-size: 30px;
  color: black;
}

.indicacao {
  margin-top: 15px;
  display: flex;
  gap: 2vw;
  text-align: center;
  justify-content: center;
}

/* O peso varia de acordo... */
.destaque {
  margin-top: 25px;
  margin-bottom: 5px;
  text-align: center;
  color: var(--dourado);
  font-size: 20px;
}

p {
  padding: 5px;
  text-align: center;
}

/* Botão concluir pedido */
.fazerpedido {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: var(--principal);
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  display: none;
}

button a {
  font-size: 35px;
  text-decoration: none;
  color: white;
}

.imgbtn {
  width: 250px;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: white;
}

/* Fonte */
.gwen {
  font-family: "Gwendolyn", cursive;
  font-weight: 800;
  font-style: normal;
}

h3 {
  text-align: center;
}

.bkg {
  background-color: var(--redvelvet);
  color: white;
}

/* container Botões e conf botões  */
.pedido {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  min-height: 100%;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 5vw;
  align-items: center;
  display: flex;
}

button {
  border: 1px solid black;
  background-color: var(--principal);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 4vh;
}


.bolo,
.doce {
  display: none;
  min-width: 320px;
}

/* Segura e configura os formulários, ambos do mesmo tamanho */
.containerform {
  display: flex;
  align-items: stretch;
  justify-content: center;
}


#formbolo {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Config formdoces em coluna e  */
#formdoce {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#formdoce .flexcolumn {
  height: 100%;
}

#row_bolo {
  display: flex;
  flex-grow: 1;
}

#row_bolo div {
  width: 100%;
}

#row_bolo .col_row {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.row_doce {
  display: flex;
}

.row_doce div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row_doce div div {
  flex-grow: 1;
}

.col_doce {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.col_doce .row_doce {
  flex-grow: 1;
}


/* Configuração cabeçalhos */
.cb {
  text-align: center;
  max-width: 100%;
  font-size: 30px;
}

/* Configuração de divs da coluna tamanho */
.tamanhos div {
  width: 25%;
  box-sizing: border-box;
  font-size: 30px;
  text-align: center;
  outline: 1px solid burlywood;
  display: flex;
  flex-direction: column;
}

/* Configuração geral de tamanho das divs input*/
.recheios,
.tamanhos,
.massas,
.coberturas,
.doces {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 25%;
  font-size: 25px;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.recheios div,
.tamanhos div,
.massas div,
.coberturas div,
.doces div {
  text-align: center;
  border: 1px solid;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 2px;
}



.recheios div:hover,
.tamanhos div:hover,
.massas div:hover,
.coberturas div:hover,
.doces div:hover {
  background-color: blanchedalmond;
  outline: dashed 5px var(--redvelvet);
}

.recheios div input,
.tamanhos div input,
.massas div input,
.coberturas div input,
.doces div input {
  padding: 2vw;
}

.recheios div,
.massas div,
.coberturas div,
.doces div {
  font-size: 25px;
}

/* Configuração dos inputs */
label:has(input[type="radio"]:checked) {
  background-color: blanchedalmond;
  outline: dashed 5px var(--redvelvet);
  outline-offset: -3px;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

input[type="radio"] {
  margin-right: 10px;
  display: none;
}

label p {
  font-size: 25px;
}


h2 {
  font-size: 80px;
}

h1 {
  margin-top: 0;
}

/* Não destaca Recheios e Sabores premium */
#exception {
  color: white;
  background-color: var(--redvelvet);
}

#exception:hover {
  background-color: var(--redvelvet);
  color: white;
  outline: none;
}

/* Cria resumo do pedido */
#resumopedido {
  display: none;
  margin-top: 3vh;
}

/* Configura o flex dentro da tabela de bolos */
.flex {
  display: flex;
  height: max-content;
}


#showdoce {
  display: none;
  margin-bottom: 20px;
}

/* Cores cabeçalho e titulo tabelas */
.title,
.cb {
  background-color: var(--redvelvet);
  color: white;
}

h2 {
  border-radius: 10px 10px 0px 0px;
}

.outline {
  outline: 1px solid white;
}

/* Na tabela de doces, configura sabores e quantidade lado a lado */
.flexrow {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.flexrow>div {
  width: 50%;
}

/*Manter divs verticalmente agrupadas*/
.flexcolumn {
  display: flex;
  flex-direction: column;
}

.flexcolumn div {
  flex-grow: 1;
}


a {
  text-decoration: none;
  color: white;
}

/* Limpa formulário */
.limpar {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 15px;
  background-color: bisque;
  padding: 10px;
}

/* Icones no resumo bolo e doce */
.icon {
  max-width: 100px;
  padding-left: 5px;
}

/* Configura resumos lado a lado */
.flexresumo {
  width: fit-content;
  margin: auto;
  display: flex;
  gap: 20px;
}


/* Css com icone e div para resumo */
#css_bolo_resumo,
#css_doce_resumo {
  display: none;
  display: none;
  max-height: 350px;
}

/* Resumo do bolo e doce */
.cssresumo {
  border-radius: 50px;
  background-color: white;
  min-width: 380px;
  min-height: 250px;
  max-width: 900px;
  height: 100%;
  align-items: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.cssresumo div {
  flex-grow: 1;
}

/* Forma que resumo digitado será mostrado */
#resumobolo,
#resumodoce {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

/* Soma bolo + doce */
#soma {
  display: none;
  border-radius: 50px;
  background-color: white;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  width: 20%;
  margin: 20px auto;
}

/* Responsividade */
@media screen and (max-width: 1200px) {

  .containerform {
    flex-direction: column;
    align-items: center;
  }

  main {
    width: 100vw;
    margin: auto;
    border-radius: 0px;
  }

  label,
  label p {
    font-size: 20px;
  }

  .cssresumo {
    padding: 5px;
    min-width: 0px;
  }

  #soma {
    width: 70%;
  }

  p {
    padding: 3px;
  }

  .cb div {
    font-size: 20px;
  }

}

@media screen and (max-width:660px) {

  th,
  td {
    font-size: 20px;
    padding: 7px;
  }

  ul li {
    font-size: 20px;
  }

  .flexresumo {
    flex-direction: column;
    margin-top: 10px;
  }

  .btns button {
    padding: 10px;
  }

  .fazerpedido {
    max-width: 250px;
    max-height: 260px;
    padding: 0;
  }

  .imgbtn {
    max-width: 200px;
    max-height: 200px;
  }
}

@media screen and (max-width: 500px) {
  .indicacao {
    flex-direction: column;
    align-items: center;
  }

  .tamanho {
    width: 300px;
  }

  .title {
    font-size: 50px;
  }
}

@media screen and (max-width:400px) {

  #formbolo,
  #formdoce {
    max-width: 300px;
  }

}