* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --principal: rgb(187, 138, 106);
  --dourado: rgb(214, 182, 127);
}

html {
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.logo {
  max-height: 19vh;
  margin-left: 5vw;
}

.font-regular {
  font-family: "Gwendolyn", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-bold {
  font-family: "Gwendolyn", cursive;
  font-weight: 700;
  font-style: normal;
}

body {
  width: 100%;;
  min-height: 100vh;
  background-color: rgb(250, 242, 229);
}

header {
  background-image: linear-gradient(
    to right,
    var(--principal) 30%,
    var(--dourado)
  );
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 20vh;
  min-height: 150px;
  font-family: "Gwendolyn", cursive;
  font-weight: 400;
  font-style: normal;
}

header ul {
  margin-right: 3vw;
  display: flex;
}

header ul a {
  padding: 3vw;
  list-style-type: none;
  font-size: 50px;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px black;
}

li {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 60px;
}

header ul a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 100px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

h2 {
  font-size: 50px;
  text-align: center;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  text-align: center;
  width: 100%;
  position: sticky;
  bottom: 0;
}


@media screen and (max-width:1050px){
  ul a li {
    font-size: 45px;
  }
}



@media screen and (max-width:860px){

  header ul a {
    padding: 10px;
  }

  ul a li {
    font-size: 45px;
  }

.logo{
  margin-left: 0;
}
}
@media screen and (max-width:730px){
  ul a li {
    font-size: 40px;
  }

header ul {
  margin-right: 0;
}
}

@media screen and (max-width:640px){
  ul a li {
    font-size: 30px;
  }

  .logo{
    width: 150px;
  }

  .main_content{
    padding: 20px;
  }

}

@media screen and (max-width:500px){

  ul a li {
    font-size: 30px;
    text-align: center;
  }

  header ul a {
    padding: 8px;
  }

  ul{
    flex-direction: column;
    width: 250px;
  }

  .maincta{
    flex-direction: column;
  }


}